h1{
    color:teal;
}

.colleges li{
    background-color:#c83;
}

.topics li{
    list-style-type:none;
}

figure{
    display:inline-block;
    margin:20px 20px 20px 20px;
}

figure img{
    max-width:300px;
}